{{ $cover := .Resources.GetMatch "cover.*" }}
<div class="page-header{{ if eq .Params.coverStyle "logo" }} page-header--logo{{ end }}">
  {{ with $cover }}
    {{ if eq $.Params.coverStyle "logo" }}
      <img src="{{ .RelPermalink }}" alt="" class="page-header-img-contain">
    {{ else }}
      <img src="{{ .RelPermalink }}" alt="" class="page-header-img-cover">
    {{ end }}
  {{ end }}
</div>
{{ with .Params.imageCredit }}
<p class="image-credit">Image from: <a href="{{ .url | safeURL }}">{{ .text }}</a></p>
{{ end }}
<h1 style="text-align:left">{{ .Title }}</h1>
