{{ $p := . }}
{{ if $p.Title }}
  {{ $p.Title }}
{{ else }}
  {{ $artistNames := slice }}
  {{ range $p.GetTerms "artists" }}
    {{ $artistNames = $artistNames | append .Title }}
  {{ end }}
  {{ $artists := delimit $artistNames ", " }}
  {{ $edition := $p.Parent }}

  {{ $hasTime := or (ne $p.Date.Hour 0) (ne $p.Date.Minute 0) }}
  {{ $when := $p.Date.Format "Monday" }}
  {{ if $hasTime }}
    {{ $when = printf "%s, %s" ($p.Date.Format "Monday") ($p.Date.Format "15:04") }}
  {{ end }}

  {{ if $p.Params.venue }}
    {{ printf "%s // %s (%s) - %s Set" $artists $edition.Title $when $p.Params.venue }}
  {{ else }}
    {{ printf "%s // %s (%s)" $artists $edition.Title $when }}
  {{ end }}
{{ end }}
