{{ define "main" }}
<content>
  {{ if and .Parent .Parent.Parent (not .Parent.Parent.IsHome) }}
  <p>
    <a href="{{ .Parent.Permalink }}">{{ .Parent.Title }}</a>
  </p>
  {{ end }}

  {{ partial "page-header.html" . }}

  {{ if not .Sections }}
  {{ $start := .Date }}
  {{ if not $start.IsZero }}
  <p style="text-align:left">
    {{ with .Params.endDate }}
      {{ $end := . | time.AsTime }}
      {{ if ne ($end.Format "2006-01-02") ($start.Format "2006-01-02") }}
        {{ if and (eq $start.Year $end.Year) (eq $start.Month $end.Month) }}
          <time datetime='{{ $start.Format "2006-01-02" }}'>{{ $start.Format "02" }}</time>–<time datetime='{{ $end.Format "2006-01-02" }}'>{{ $end.Format "02 Jan 2006" }}</time>
        {{ else }}
          <time datetime='{{ $start.Format "2006-01-02" }}'>{{ $start.Format "02 Jan 2006" }}</time> – <time datetime='{{ $end.Format "2006-01-02" }}'>{{ $end.Format "02 Jan 2006" }}</time>
        {{ end }}
      {{ else }}
        <time datetime='{{ $start.Format "2006-01-02" }}'>{{ $start.Format (default "02 Jan 2006" $.Site.Params.dateFormat) }}</time>
      {{ end }}
    {{ else }}
      <time datetime='{{ $start.Format "2006-01-02" }}'>{{ $start.Format (default "02 Jan 2006" $.Site.Params.dateFormat) }}</time>
    {{ end }}
  </p>
  {{ end }}
  {{ end }}
  {{ with .Params.website }}
  <p style="text-align:left"><a href="{{ . | safeURL }}">Official site</a></p>
  {{ end }}


  {{ .Content }}

  {{ if .Sections }}
    <h3>Editions</h3>
    {{ partial "card-grid.html" .Sections.ByDate.Reverse }}

    <h3>All sets</h3>
    {{ range .RegularPagesRecursive.ByDate.Reverse }}
    <div style="margin-bottom:2em">
      <a href="{{ .Permalink }}"><strong>{{ partial "set-title.html" . }}</strong></a>
      {{ partial "player.html" . }}
    </div>
    {{ else }}
    <p>No sets yet</p>
    {{ end }}
  {{ else }}
    <h3>Sets</h3>
    {{ range .Pages.ByDate.Reverse }}
    <div style="margin-bottom:2em">
      <a href="{{ .Permalink }}"><strong>{{ partial "set-title.html" . }}</strong></a>
      {{ partial "player.html" . }}
    </div>
    {{ else }}
    <p>No sets yet</p>
    {{ end }}
  {{ end }}

  {{ with .OutputFormats.Get "rss" }}
    <p><a href="{{ .RelPermalink }}">RSS feed for this {{ if $.Sections }}listing{{ else }}edition{{ end }}</a></p>
  {{ end }}
</content>
{{ end }}
